@model FormExample.ViewModel.UserViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Result page</title>
</head>
<body>
<strong>Full name: </strong> @Model.FullName <br/>
<strong>Email: </strong> @Model.Email
</body>
</html>